@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

html, body {
    height: 100%;
    overflow: hidden;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url("Images/backcover.jpg");
    font-family: 'Varela Round', sans-serif;
}


* {
    margin: 0;
    padding: 0;
}

nav{
    font-family: 'Ubuntu',sans-serif;
}

nav ul{
    display: flex;
    align-items: center;
    list-style-type: none;
    height: 65px;
    background-color: lightblue;
    color: darkcyan;
}

nav ul li{
    padding: 0 12px;
}

.brand img{
    width: 44px;
    padding: 0 8px;
}

.brand{
    display: flex;
    align-items: center;
    font-weight: bolder;
    font-size: 1.3rem;
}

.container {
    flex: 1;
    overflow-y: auto;
    margin: 0 auto;
    width: 70%;
    border-radius: 12px;
    padding: 34px;
    background-color: lightblue;
    color: black;

    background-image: url('Images/background.jpeg');
    background-size: cover;       
    background-position: center;
    background-repeat: no-repeat;
}


.bottom {
    height: 120px;
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-shrink: 0;
}


.icons{
    margin-top: 14px;
}

.icons img {
    cursor: pointer;
}

#myProgressBar{
    width: 80vw;
    cursor: pointer;
}

.songItem {
    height: 50px;
    display: flex;
    background-color: lightblue;
    width: 40%;
    color: darkblue;
    margin: 12px 0;
    justify-content: space-between;
    align-items: center;
    border-radius: 34px;
    padding: 0 15px;
    box-sizing: border-box;
}

.songItem img {
    width: 43px;
    border-radius: 34px;
}

.songInfo {
    flex: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 20px;
}

.songTitle {
    font-size: 16px;
    font-weight: bold;
}

.timestamp {
    font-size: 14px;
    color: darkcyan;
    margin-left: 20px;
}

.playIcon {
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.songDescription {
    position: absolute;
    left: 10vw;
    color: darkcyan;
    font-family: 'Varela Round', sans-serif;
}

.songDescription img {
    width: 32px;
    height: 18px;
    opacity: 0;
    transition: opacity 0.4s ease-in;         
}
